.auth {


  // &>div {
  //   height: 100%;
  //   width: 100%;
  //   /* Повна висота для обох частин */
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  // }

  /* Ліва частина екрану */
  &__select {
    width: 100%;
    /* Ліва частина */
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 20px;
    // padding-right: 20px;
    height: 100%;
  }

  // /* Правая частина екрану з синім фоном */
  // &__img {
  //   width: 50%;
  //   /* Права частина займає 50% ширини */
  //   background-color: #2563EB;
  //   /* Синій фон */
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100%;
  //   margin-left: 0;

  //   /* Видалено відступ зліва */
  //   img {
  //     width: 80%;
  //   }
  // }

  .welcomeText {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #111827;
    margin-top: 20px;
  }

  &__select-inner {
    width: clamp(30.75rem, 12.054rem + 17.857vw, 28.125rem);
    // max-width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background-color: white;

    h1 {
      font-size: 2rem;
    }

    a {
      width: 100%;
      text-align: center;
      display: block;
    }
  }

  /* Синя кнопка */
  .button-blue {
    background: #2563EB;
    border: none;
    color: white;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  /* Прозора кнопка з синім ободком */
  .button-transparent {
    background: transparent;
    border: 2px solid #2563EB;
    color: #2563EB;
    border-radius: 8px;
    height: 50px;
    width: 60%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  /* Ефект при наведенні */
  button:hover {
    opacity: 0.8;
  }

  /* Адаптивність для мобільних пристроїв */
  @media (max-width: 768px) {
    &>div {
      width: 100%;
      /* Контейнер займає всю ширину */
      height: 100%;
    }

    .welcomeText {
      font-size: 24px;
      /* Зменшуємо розмір тексту */
    }

    .button-blue,
    .button-transparent {
      width: 100%;
      /* Кнопки займають всю ширину */
    }

    .auth__img {
      display: none;
    }
  }

}