@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* Змінити колір фону */
  -webkit-text-fill-color: #000 !important;
  /* Змінити колір тексту */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #FFFFFF;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-form {
  display: grid;
  gap: 1rem;
}

.active-link {
  background-color: #2563EB !important;
  color: #FFFFFF;
}

.reservation-row {
  background-color: cadetblue;
}

.header-gradient {
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 79, 253, 0.09352244315695024) 51%, rgba(69, 156, 252, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 79, 253, 0.09352244315695024) 51%, rgba(69, 156, 252, 1) 100%);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 79, 253, 0.09352244315695024) 51%, rgba(69, 156, 252, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#459cfc", GradientType=1);
}