.role {
    &__inner {
        // max-width: 480px;
        width: clamp(30rem, 31.339rem + -3.571vw, 28.125rem);
        // width: 100%;
        background-color: white;
        border-radius: 12px;
        padding: 30px;
        text-align: center;

        h1 {
            font-size: 24px;
            font-weight: 800;
            line-height: 1.6;
        }

        p {
            color: #4B5563;
            line-height: 1.6;
            margin-bottom: 40px;
        }

    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin-bottom: 35px;

        a {
            width: 196px;
            height: 152px;
            border-radius: 11px;
            border: 2px solid #E5E7EB;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 25px;
            gap: 10px;

            svg {
                flex-shrink: 0;
            }


        }
    }

    /* Адаптивність для мобільних пристроїв */
    @media (max-width: 768px) {
        &>div {
            width: 100%;
            /* Контейнер займає всю ширину */
            height: 100%;
        }

        .welcomeText {
            font-size: 24px;
            /* Зменшуємо розмір тексту */
        }

        .button-blue,
        .button-transparent {
            width: 100%;
            /* Кнопки займають всю ширину */
        }

        .auth__img {
            display: none;
        }
    }



}